<footer class="bd-footer py-5 mt-4 footer">
  <div class="container py-3">
    <div class="row d-flex justify-content-between">
      <div class="col-lg-3">
        <ul class="list-unstyled small text-muted">
          <li class="mb-2 footer-text">Customer service</li>
          <li class="mb-2"><a href="">Delivery and shipping methods</a></li>
          <li class="mb-2"><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-3 d-flex align-items-center justify-content-center">
        <p class="copyright">2023 Eva's Copyright</p>
      </div>
      <div class="col-lg-3">
        <p class="float-end"><a href="#"><span class="material-icons">
              vertical_align_top
            </span></a></p>
      </div>
    </div>
  </div>
</footer>