<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">Eva's F1 store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/signup">signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart"><span class="material-icons">
              local_mall
            </span></a>
        </li>

      </ul>
    </div>

  </div>
</nav>

<div class="nav-scroller border-bottom">
  <nav class="nav bg-warning nav-underline justify-content-center gap-5">
    <a class="nav-item nav-link link-body-emphasis active" href="#">Teams</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Drivers</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Men</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Women</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Kids</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Other Items</a>
  </nav>
</div>