<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">Eva's F1 store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" href="/signup">signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signin">login</a>
        </li>
        {{#if user}}
        {{#if user.isAdmin}}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">logout</a>
        </li>
        {{/if}}
        <li class="nav-item">
          <a class="nav-link" href="/cart"><span class="material-icons">
              local_mall
            </span></a>
        </li>

      </ul>
    </div>

  </div>
</nav>


<nav class="navbar navbar-expand-lg bg-warning">
  <div class="container-fluid justify-content-center gap-5 nav-underline">

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-item nav-link link-body-emphasis" data-bs-toggle="dropdown" aria-expanded="false">
          Teams
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="/cateprod">Mercedes</a></li>
          <li><a class="dropdown-item" href="#">Haas</a></li>
          <li><a class="dropdown-item" href="#">Red Bull</a></li>
          <li><a class="dropdown-item" href="#">Alpine</a></li>
          <li><a class="dropdown-item" href="#">McLaren</a></li>
          <li><a class="dropdown-item" href="#">Ferrari</a></li>
          <li><a class="dropdown-item" href="#">Alfa Romeo</a></li>
          <li><a class="dropdown-item" href="#">Alpha Tauri</a></li>
          <li><a class="dropdown-item" href="#">Williams</a></li>
          <li><a class="dropdown-item" href="#">Aston Martin</a></li>
        </ul>
      </li>
    </ul>

    <li class="divider-vertical"></li>

    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="dropdown-toggle nav-item nav-link link-body-emphasis" data-bs-toggle="dropdown" aria-expanded="false">
          Drivers
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="#">Lewis Hamilton</a></li>
          <li><a class="dropdown-item" href="#">George Russell</a></li>
          <li><a class="dropdown-item" href="#">Max Verstappen</a></li>
          <li><a class="dropdown-item" href="#">Sergio Perez</a></li>
          <li><a class="dropdown-item" href="#">Charles Leclerc</a></li>
          <li><a class="dropdown-item" href="#">Carlos Sainz</a></li>
          <li><a class="dropdown-item" href="#">Lando Norris</a></li>
          <li><a class="dropdown-item" href="#">Oscar Piastri</a></li>
          <li><a class="dropdown-item" href="#">Yuki Tsunoda</a></li>
          <li><a class="dropdown-item" href="#">Daniel Ricciardo</a></li>
          <li><a class="dropdown-item" href="#">Esteban Ocon</a></li>
          <li><a class="dropdown-item" href="#">Pierre Gasly</a></li>
          <li><a class="dropdown-item" href="#">Valtteri Bottas</a></li>
          <li><a class="dropdown-item" href="#">Zhou Guanyu</a></li>
          <li><a class="dropdown-item" href="#">Lance Stroll</a></li>
          <li><a class="dropdown-item" href="#">Fernado Alonso</a></li>
          <li><a class="dropdown-item" href="#">Nico Hülkenberg</a></li>
          <li><a class="dropdown-item" href="#">Kevin Megnussen</a></li>
          <li><a class="dropdown-item" href="#">Alexander Albon</a></li>
          <li><a class="dropdown-item" href="#">Logan Sargeant</a></li>
        </ul>
      </li>
    </ul>

    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Men</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Women</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Kids</a>
    <li class="divider-vertical"></li>
    <a class="nav-item nav-link link-body-emphasis" href="#">Other Items</a>

  </div>
</nav>