<div class="border">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Register</h1>
  </div>

  <div class="d-flex justify-content-between mb-5">
    <span>Already a member?</span>
    <a class="btn btn-light" href="/signin">Log In</a>
  </div>

  <form class="form-signup" action="/signup" method="POST" style="width: 100%;">

    <div class="form-row mb-5 d-flex gap-1 justify-content-between">
      <div class="col-5">
        <label class="form-label" for="first-name">First Name</label>
        <input type="text" id="first-name" name="first-name" class="form-control" placeholder="First Name"
          maxlength="30" required autofocus>
      </div>
      <div class="col-5">
        <label class="form-label" for="last-name">Last Name</label>
        <input type="text" id="last-name" name="last-name" class="form-control" placeholder="Last Name" maxlength="30"
          required autofocus>
      </div>
    </div>

    <div class="form-row mb-5">
      <label class="form-label" for="email">Email</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email" maxlength="40" required>
    </div>

    <div class="form-row mb-5">
      <label class="form-label" for="password">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" maxlength="30"
        required>
    </div>

    <div class="form-row mb-5">
      <label class="form-label" for="passwordCheck">Password Check</label>
      <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" maxlength="30"
        placeholder="Password Check" required>
    </div>

    <div class="mb-4 text-center">
      <input type="checkbox" id="agree-terms" name="agree-terms" required />
      <label for="agree-terms">By signing up, you agree to our Terms of Use & Privacy Policy</label>
    </div>

    <div class="mb-4 text-center">
      <button class="btn btn-light" type="submit">Create an Account</button>
    </div>

  </form>

</div>